{% extends "base.html" %}


{% block body %}

    <div class="row" style="padding-top: 10%">
        <div class="col">


            <div class="card scroll sample-card">
                <h3 class="card-header secondary">Turn ON/OFF LED</h3>

                <div class="card-body">

                    <div class="col text-center">
                        <button type="button" class="btn btn-success text-center">Turn ON</button>
                    </div>


                </div>
            </div>

        </div>
    </div>
{% endblock %}