{% extends "base.html" %}

{% load static %}

{% block src %}
    <script type="text/javascript" src="{% static "bower_components/webcam/webcam.js" %}"></script>
{% endblock %}]


{% block css %}
    <style>
        body {
            font-family: Helvetica, sans-serif;
            background: #e8eaed;
        }
        div.card {
            max-width: 550px;
        }

    </style>
{% endblock %}

{% block js %}
    <script>


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function take_snapshot() {
            let image;
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                image = data_uri
            });
            return image
        }

        function init(){
            //webcam initial
            Webcam.set({
                width: 576,
                height: 432,

                // final cropped size
                crop_width: 460,
                crop_height: 345,

                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach('#preview-camera');

        }


        $(function () {
            init()

            $('#input-id').on("keyup", function (e) {
                if (e.keyCode == 13) {
                    let img = take_snapshot();
                    img = img.replace(/^data:image\/[a-z]+;base64,/, "");

                    let product_id = $(this).val()
                    console.log(123,product_id)
                    if (product_id == '') {
                         toastr.error("Your production id was empty.", "Generic Error!", {
                                closeButton: true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "extendedTimeOut": 0,
                                "tapToDismiss": false
                            });
                        return
                    }

                    $.ajax({
                        url: "/api/save_image/", // the endpoint,commonly same url
                        type: 'POST',
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        timeout: 4000,
                        data: JSON.stringify({
                            "csrfmiddlewaretoken": getCookie("csrftoken"),
                            "image": img,
                            "product_id": product_id
                        }),

                        success: function (respText) {
                            let img = "data:image/jpeg;base64," + respText["image"]
                            $("#show-image").html('<img  src="' + img + '"/>');

                            toastr.success(respText['message'], "Sucess!", {
                                closeButton: true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "extendedTimeOut": 0,
                                "tapToDismiss": false
                            });


                        },
                        error: function (respText, status) {
                            toastr.error((respText.responseJSON).message, "Generic Error!", {
                                closeButton: true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "extendedTimeOut": 0,
                                "tapToDismiss": false
                            });
                        },
                    });
                    // reset the input box.
                    $(this).val("")


                }
            })

        })
    </script>

{% endblock %}




{% block body %}
    <div class="row" style="padding-top: 10%">
        <div class="col-lg-6">

            <div class="col" style="padding-bottom: 30px">
                <div class="card scroll sample-card">
                    <h3 class="card-header">Production ID</h3>

                    <div class="card-body">
                        <input id="input-id" type="text" class="form-control" placeholder="Please input production id">
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <h3 class="card-header">Preview Camera</h3>


                    <div class="card-body">

                        <div id="preview-result">
                            <div style="margin-top: 20px"
                                 id="preview-camera">
                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-6">

            <div class="col" style="padding-bottom: 20px">
                <div class="card scroll sample-card">
                    <h3 class="card-header">Show Image</h3>

                    <div class="card-body">
                        <div style="margin-top: 20px"
                             id="show-image">

                        </div>

                    </div>
                </div>
            </div>


        </div>


    </div>


{% endblock %}